

:root{
  --font-titulos: 'Corinthia', cursive;
  --font-texto:'Poppins', sans-serif;
  --lila: #caa3d6;
}

body {
    font-family: 'Poppins', sans-serif;
    
    background: #f9f5ff;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

   



h1, h2 {

    font-family: var(--font-titulos);
    color: white;
}

h2{
  color:#9575cd;
  font-size: 3rem;
  font-weight:700;
}



.imagen-responsiva {
  width: 100%;
  height: auto;
  display: block;
}


.contador{
    background-color:#d8b4fe;
}

.itinerario hidden {
    padding: 20px;
    max-width: 600px;
    
  }
  
  .itinerario {
    transition: opacity 1s ease, transform 1s ease;
  }


  
  
  .hidden {
    opacity: 0;
    transform: translateY(50px);
  }
  
ul {
    list-style: none;
    padding: 0;
}
section {
    padding: 1rem 2rem;
}
.btn {
    background: #9575cd;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 8px;
}
.gallery img {
    width: 45%;
    margin: 0.5rem;
    border-radius: 8px;
}



  .foto-mensaje div img{
    width: 100%;
    height: 100vh;
    display: flex;
    object-fit: cover;
    
  }

  .foto-mensaje{
    padding: 0;
    
  }
  
  

  .overlay-text {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    text-align: center;
    color: white;
    

  }

  @media (max-width: 768px) {
  .imagen-principal {
    object-fit: contain;
  }
}

  .overlay-text p{
    margin: 0%;
  }
  
  .overlay-text h1{
    margin: 0%;
    
  }
 


textarea {
    width: 100%;
    height: 100px;
    margin: 1rem 0;
}

.buzon{
    background-color: #d8b4fe;
    padding: 2rem;
    max-width: 100%;
  box-sizing: border-box;
}

.buzon h2{
  margin: 0;
  color: white;
}

.buzon p{
  margin-top: 0;
  margin-bottom: 2rem;
}

.buzon button{
  padding: 0.5rem 1rem;
  border-color: transparent;
  border-radius: 30px;
  background-color: #9575cd;
  color:white;
  font-family: var(--font-texto);
  font-size:1rem;
}

.buzon textarea{
  
  border-radius: 10px;
  border-color: transparent;
  padding: 0.5rem 0.8rem;
  margin: 0;
  font-family: var(--font-texto);
  box-sizing: border-box;
  resize: vertical; /* opcional: evita que el usuario cambie el ancho */
  margin-bottom: 1rem;
}




.music-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .music-button button {
    background: #d8b4fe;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
  }


  .dresscode{
    background-color: var(--lila);
    padding-bottom: 2rem;
    margin: 1.5rem 2rem;
    border-radius: 25px;
    z-index: 1000;
  }

  .dresscode h2{
    margin: 0;
    color: white;
    
  }

  .dresscode p{
    margin-top: 0.5rem;
    
  }

.dresscode > .brillo{
  position: absolute;
  width: 100%;
  right: 10px;
  top: 2440px;
  height: fit-content;
}

.dresscode > .ropa{
  height: 240px;
  margin-top: 1rem;
  
}




  

footer {
    background: #ede7f6;
    text-align: center;
    padding: 1rem;
}
